@charset "utf-8";
/* CSS Document */


table.advanceduserstats {
	width:600px;
	margin-top:20px;
}

.advanceduserstats-title {
	background-color: #aaaaaa;
	margin-bottom: 0px;
	padding: 5px 10px !important;
	margin-top:20px;
}

.advanceduserstats th {
	padding: 0px 10px;
	vertical-align:top;
	background-color: #dddddd !important;
}

.advanceduserstats td {
	padding: 0px 10px;
	vertical-align:top;
}

.advanceduserstats .odd {
	background-color: #eeeeee;
}

.AUSdetails {
	display:none;	
}
/*
#AUSdetailBox {
	position:absolute;
	top:20px;
	left:20px;
	display:none;
	width:400px;
	height:500px;
	overflow:scroll;
	background-color:white;
}

#AUSdetailBoxClose {
	margin-top:20px;
	display:block;
}
*/